[ZOOM_LOGIN]
# Список логинов Zoom, если нужно скачать видеозаписи установить значение 1 напротив логина или 0, 
test@test.ru = 1

[DATE]
start = 01/11/2020
end = 11/11/2020

[ZOOM]
jwt_token = eyJ0....