[ZOOM_LOGIN]
# Список логинов Zoom, если нужно скачать видеозаписи установить значение 1 напротив логина или 0, 
test@test.ru = 1
test2@test.ru = 1

[DATE]
start = 01/11/2020
end = 11/11/2020

[SAVE_FILE_PATH]
path = video_arhive

[ZOOM]
jwt_token = eyJ0....